.cardMovieBody {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 530px;
  margin: 0.5rem;
  text-align: center;
}
.cardMovieImageContainer {
  height: 367.5px;
}

.cardMovieLink {
  text-decoration: none;
  color: inherit;
}

.cardMovieImage {
  border-radius: 5%;
  max-width: 245px;
  max-height: 367.5px;
  display: block;
  margin: auto;
}

.botomContainer {
  display: flex;
  justify-content: space-around;
}

.cardMovieProgressbar {
  height: 3rem;
  font-size: large;
  position: relative;
  top: -50%;
  background-color: black;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  text-align: center;
}

.cardMovieDate {
  font-size: medium;
  color: #64748b;
}

.cardMovieTitle {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 24px;
}

.cardPersonBody {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 450px;
  margin: 0.5rem;
  text-align: center;
}

/* CARDUSER */

.carsUserContainer {
  height: 230px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
  color: white;
  margin-top: 1rem;
  overflow: hidden;
}

.cardUserImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.cardUserImage {
  width: 100%;
}

.cradUserLog {
  text-align: center;
}

.cradUserLog h3 {
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
}

.cardUserNameContainer {
  display: flex;
  align-items: center;
}

.cardUserNameContainer span {
  margin-right: 0.5rem;
  font-size: 22px;
}

.cardUserName {
  margin: 4px 0;
  font-size: 26px;
  font-weight: bold;
}
